@model OrderConfirmationViewModel

@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="page-contain has-header-offset">
    <div id="main-content" class="main-content">
        <div class="container sm-margin-top-50px xs-margin-top-30px" style="margin-top:100px;">
            <div class="biolife-title-box biolife-title-box__icon-at-top-style">
                <span class="icon-at-top biolife-icon icon-organic"></span>
                <h3 class="main-title">Thank you for your order</h3>
            </div>

            <div class="order-confirmation">
                <p>Your order <strong>#@Model.OrderId</strong> has been placed.</p>
                <div class="row sm-margin-top-30px">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <h4>Shipping details</h4>
                        <p>@Model.FirstName @Model.LastName</p>
                        <p>@Model.Address</p>
                        <p>@Model.City, @Model.PostalCode</p>
                        <p>@Model.Country</p>
                        <p>@Model.Email</p>
                        <p>@Model.Phone</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <h4>Items</h4>
                        <ul class="products">
                            @foreach (var item in Model.Items)
                            {
                                <li class="mini-item">
                                    <div class="item-row">
                                        <span class="title">@item.ProductName</span>
                                        <span class="qty">@item.Quantity => </span>
                                        <span class="price">@item.TotalPrice.ToString("0.00")</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="sm-margin-top-30px">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-bold">Continue shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
